@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --spacing-32: 128px;
  --spacing-2_5: 10px;
  --spacing-3: 12px;
  --radius-rounded-base: 6px;
  --border-width: 1px;
  --font-family-base: 'Inter', sans-serif;
  --font-size-text-sm: 0.875rem;
  --line-height-leading-5: 1.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-intern: #3c3c3c;
  --color-card: #D9D9D9;
  --color-text-body: #4A5565;
  --color-text-body-subtle: #64748B;
  --color-slate-950: #020618;
  --color-text-fg-yellow: #FDC700;
  --color-text-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-livvic {
  font-family: 'Livvic', sans-serif;
}

.text-body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-text-sm);
  line-height: var(--line-height-leading-5);
  letter-spacing: 0;
}
